{% extends 'base.html' %}

{% block head %}
   <title>CRUD</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/add">Add</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/show">Show</a>
      </li>
    </ul>
  </div>
</nav>
 <form method="POST" action="/add">
   <div class="form-group">
      <label>User Id</label>
      <input type="text" class="form-control" name="new_usr_id" required="required">
      <label>User Name</label>
      <input type="text" class="form-control" name="new_usr_name" required="required">
      <label>User Age</label>
      <input type="number" class="form-control" name="new_usr_age" required="required">
      <label">User Email</label>
      <input type="email" class="form-control" name="new_usr_email" required="required">
   </div>
   <div class="form-group">
      <input type="radio" name="new_usr_gender" value="male">
      <label>Male</label>
      <input type="radio" name="new_usr_gender" value="female">
      <label>Female</label>
      <input type="radio" name="new_usr_gender" value="others">
      <label>Others</label>
      </div><br>
    <button type="submit" class="btn btn-primary">Submit</button>
 </form>
{% endblock %}
